<div id="player"></div>
<script>
  coverflow('player').setup({
    flash: 'coverflow.swf',
    playlist: <%= covers(@gadgets) %>,
    width: 800,
    height: 300,
    backgroundcolor: '#ffffff',
    textstyle: 'color: black'
  });
</script>
