<h2>Your gadget collection</h2>
<% if current_user %>
  <%= link_to 'Add a new Gadget', new_gadget_path %>
<% end %>
<% @gadgets.each do |gadget| %>
  <h3><%=gadget.name %></h3>
  <p><%= gadget.description %><p>
  <%= link_to "add images", new_gadget_image_path(gadget) %>
<% end %>


